<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="30" status="error">
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss.SSS} [%level] [%logger] [%thread] %msg%ex%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
